@app.route('/registerNext', methods = ['GET','POST'])
def registerNext():

	if request.method == "GET":
		username = request.args.get("username")
		password = request.args.get("password")

	elif request.method == "POST":
		username= request.form['username']
		password = request.form['password']
		customercheck = Registers.query.filter((Registers.username == username) & (Registers.password == password)).first()

		if customercheck :
			return render_template('userregister.html',cmsg="Registration Failed, \n User Already Registered..!")

		else:
            name=request.form.get("name")
            username=request.form.get("username")
            password=request.form.get("password")
            email=request.form.get("email")
            mobile_no=request.form.get("mobile_no")
            address=request.form.get("address")
            entry=Registers(name=name,username=username,password=password,email=email,mobile_no=mobile_no,address=address)
            db.session.add(entry)
            db.session.commit()
		return render_template('userlogin.html',cusmsg="Registered Succcessfully...! \n Please Login To Continue")